<header class="nav-container container">
  <div id="sticky" class="outer-sticky-nav row">

    <div class="inner-sticky-nav left-nav nav mb-3 mt-3 col-2">

      <div id="topicsNav" class="left-nav-item">
        Topics
      </div>
      <div id="searchNav" class="left-nav-item">
        Search
      </div>

    </div>

    <div class="inner-sticky-nav center-nav nav mb-3 mt-3 col-8">

      <ul id="stickyNavStaticList" class="center-nav">
        <li class="center-nav-item">LOCAL</li>
        <li class="center-nav-item">POLITICS</li>
        <li class="center-nav-item">SPORTS</li>
        <li class="center-nav-item">ENTERTAINMENT</li>
        <li class="center-nav-item">OPINION</li>
        <li class="center-nav-item">PLACE AN AD</li>
      </ul>

    </div>

    <div class="inner-sticky-nav right-nav nav mb-3 mt-3 col-2">

      <div class="subscribe card right-nav-item">
        <p>subscribe</p>
        <p>4 weeks for only 99¢</p>
      </div>

      <div id="logIn" class="right-nav-item">
        LOG IN
      </div>

    </div>

  </div>
</header>
