.nav-container {
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
}

.nav-container a {
  text-decoration: none;
}

#sticky {
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 99999999;
}

.nav {
  padding-right: 0;
  margin:auto;
}

.outer-sticky-nav {
  background-color: #333
}

.left-nav {
  padding-left: 15px;
}

.left-nav-item, .left-nav-item a {
  padding: 0 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
}

#stickyNavStaticList {
  padding: 0;
  width: 100%;
  text-align: center;
}

.center-nav {
  margin: auto;
}

.center-nav-item {
  padding: 0 10px;
}

ul.center-nav li, li a{
  list-style: none;
  display: inline;
  color: white;
  margin: auto;
  font-size: 10px;
}

li a:hover {
  border-bottom: 1px solid white;
}

.right-nav {
  width: 100%;
}

.btn {
  background-color: #4492E0;
  max-width:100%;
  margin: 5px auto;
  padding: 0;
  line-height: 1;
}

.button-text {
  font-size: 14px;
  color: white;
  line-height: 1;
}

.button-subtext {
  font-size: 10px;
}

#subscribe {
  width: 70%;
}

#logIn {
  width: 30%;
  text-align: center;
  margin: auto;
}

#logIn a {
  color: white;
  font-size: 10px;
}

.sub-tert-styles {
  width: 100%;
  margin: auto;
  z-index: 99999998;
  background-color: white;
  border-bottom: 1px solid #afafaf;
}

#subnav
 {
  height: 175px;
 }

#tertiarynav {
  height: 50px;
}

.inner-subnav {
  width:100%;
  margin:0 auto;
}

.left-subnav {
  margin: auto;
  padding-left: 10px;
  position: relative;
  padding-top: 30px;
}

p.date-obj {
  color: black;
  font-size: 10px;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
}

#subnav img {
  max-width: 50%;
  max-height: 50%;
}

.center-subnav img {
  margin-top: 65px;
}

.left-subnav {
  padding-top: 25px;
  margin: auto;
  display: block;
  line-height: 3.5;
}

.left-subnav img {
  height:62px;
}

.justify-center {
  justify-content: center;
}

.trending-topics {
  margin-bottom: 0;
}

.trending-topics, .trending-topics-item {
  font-size: 10px;
  font-weight: bold;
}

.trending-topics-item{
  display: inline;
  padding-left:10px;
}

.trending-topics-item a {
  background-color: black;
  color: white;
  padding:5px 8px;
}

.topics-container {
  width: 200px;
  position: absolute;
  background-color: #626669;
  z-index: 9999999999;
}

.topics-list-container {
  list-style: none;
  padding: 10px 0;
}

.topics-list-item {
  padding: 5px 0;
  text-decoration: none;
  width: 100%;
}

.topics-list-item:hover {
  background-color: #3c3e40;
}

.topics-list-item a:hover {
  border-bottom: none;
}

.line-break {
  margin: 10px;
  border-top: 1px solid #afafaf;
}

.topics-button {
  margin: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.topics-button h4{
  font-size: 16px;
}
